<h1>Greeting#index</h1>
<p><%= @welcome_message %></p>

<h1>Simple expression</h1>
<p>Tommy is <%= @age %> years old.</p>

<h1>Interaction using scriptlets</h1>
<% for i in 1..5 %>
  <p>Heading number <%= i %>.</p>
<% end %>

<h1>A simple table</h1>
<table>
  <thead>
    <tr>
     <% @table["headings"].each do |head| %>
     <th>
       <%= head %>
     </th>
     <% end %>
    </tr>
  </thead>
  <tbody>
    <% @table["body"].each do |row| %>
      <tr>
        <% row.each do |col| %>
          <td>
            <%= col %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
